<!-- Footer Start -->

<footer>
    <p><br><br></p>
    
    {% include social-buttons.html %}

    <p><br><br></p>
    
    <div class="container text-center">
        <a href="https://www.arizona.edu/"><img src="img/ua_rev_horiz_rgb_black_4.png"></a><a href="http://cmm.arizona.edu" class="btn-default" target="_blank">CMM</a><a href="http://arc.arizona.edu" class="btn-default" target="_blank">A<sup>2</sup>DRC</a>
    </div>
        
    <p><br><br></p>
        
    <div class="container text-center">
        <p style="font-size:12px;">Copyright &copy; {{ site.author }} {{ site.time | date: "%Y" }}</p>
        <br>
        <p style="font-size:12px;">Banner images modified from Cusanovich, Reddington, Garfield et al. <em>Nature</em> 2018</p>
        {% if site.keybase-in-footer %}
        <p style="font-size: 16px;"><a href="https://keybase.io/{{site.keybase-username}}" target="_blank"><i
                class="fa fa-key"></i> {{site.keybase-username}} on Keybase</a></p>
        {% endif %}
    </div>
</footer>

<p><br><br><br><br></p>

<!-- Footer End -->
